# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# # File-Classes specific ignores
node_modules
src/*
*.config.[jt]s
tsconfig.json
*.tgz
NOTE.md